body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: #fff;
}

header {
    background-color: #000;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.hero-section {
    position: relative;
    height: 500px;
    background: img('C:\Netflix\back.jpeg');
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #ff4523;
}

.featured-content {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured-content .movie {
    flex: 0 0 calc(33.3333% - 20px);
    margin-bottom: 20px;
}

.movie img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #000;
    padding: 15px 0;
    text-align: center;
}
